<app-home-header (locationChange)="onLocationChange($event)"></app-home-header>
<div class="home-container">
  <div class="side-bar">
    <app-home-sidebar #side>
    </app-home-sidebar>
  </div>
  <div class="main">
    <div class="main-bar">
    </div>
    <div class="chart-container">
     <div class="capacity">
       <div class="capacity-title">
         <span>Current capacity</span>
         <div class="lds-hourglass" *ngIf="loadingGauge"></div>
       </div>
       <div class="chart-box">
         <app-dashboard-gauge #gauge></app-dashboard-gauge>
       </div>
     </div>
     <div class="overview">
       <div class="overview-title">
         <span>Overview</span>
         <div class="lds-hourglass" *ngIf="loadingLine"></div>
       </div>
       <div class="chart-box">
         <app-dashboard-line #line></app-dashboard-line>
       </div>
     </div>
    </div>
    <div class="details-container">
      <div 
        class="forecast-details-boxes" 
        [ngStyle]="{'min-height': !forecastChartView ? '100%' : '340px' }">
       <div class="forecast-title">
         Forecast details 
         <div class="btn-group">
           <button 
             [class.btn-choice-active]="!forecastChartView"
             (click)="forecastChartView = false" class="btn-choice left">
            table view
           </button>
           <button 
             [class.btn-choice-active]="forecastChartView"
             (click)="forecastChartView = true" class="btn-choice right">
            chart view
           </button>
         </div>
       </div>
       <div
         [hidden]="!forecastChartView"
         class="chart-box">
         <app-home-forecast-chart 
           #forecast>
         </app-home-forecast-chart>
       </div>
       <app-home-grid-detail 
         [hidden]="forecastChartView"
         [columns]="['Time','Time Frame','Forecast', 'Max value risk',  'Threshold risk']"
         [data]="dataForecast"
         >
       </app-home-grid-detail>
      </div>
      <div class="ht-calendar-boxes">
        <div class="ht-title">HT Calendar {{this.hvm?.year}}</div>
        <app-home-httime [data]="dataHt"> </app-home-httime>
      </div>
    </div>
    <div class="footer">
      RWE Supply & Trading GmbH <br/>
      Altenessener Str. 27, 45141 Essen
    </div>
  </div>
</div>

