<app-home-header (locationChange)="onLocationChange($event)"></app-home-header>
<div class="home-container">
  <div class="side-bar">
    <app-home-sidebar #side>
    </app-home-sidebar>
  </div>
  <div class="main">
    <div class="main-bar">
    </div>
    <div class="chart-container">
     <div class="capacity">
       <div class="capacity-title">
         <span>Current capacity</span>
         <div class="lds-hourglass" *ngIf="true"></div>
       </div>
       <div class="chart-box">
        <img src="assets/c2.png" style="max-width: 300px;"/>
       </div>
     </div>
     <div class="overview">
       <div class="overview-title">
         <span>Overview</span>
         <div class="lds-hourglass" *ngIf="true"></div>
       </div>
       <div class="chart-box">
         <img src="assets/c1.png" />
       </div>
     </div>
    </div>
    <div class="details-container">
      <div 
        class="details-boxes" 
       >
       <div class="grid-title">
         Grid details 
         <div class="btn-group">
           <button 
             [class.btn-choice-active]="!chartView"
             (click)="chartView = false" class="btn-choice left">
            table view
           </button>
           <button 
             [class.btn-choice-active]="chartView"
             (click)="chartView = true" class="btn-choice right">
            chart view
           </button>
         </div>
       </div>
       <div
         [hidden]="!chartView"
         class="chart-box">
         <img src="assets/c3.jpg" />
       </div>
       <app-home-grid-detail 
         [hidden]="chartView"
         [columns]="['Time','Group','Order', 'Price',  'Date']"
         [data]="orders"
         >
       </app-home-grid-detail>
      </div>
      <div class="ht-calendar-boxes">
        <div class="ht-title">Extra data</div>
        <app-home-box title="Poll" icon="poll">
          30%
        </app-home-box> 
        <app-home-box title="Notifications" icon="notifications_none">
          0
        </app-home-box> 
        <app-home-box title="Business" icon="business_center">
          Technology
        </app-home-box> 
        <app-home-box title="Private Line" icon="phone_locked">
          +1 32123 432121
        </app-home-box> 
      </div>
    </div>
    <div class="footer">
      Tiny Dashboard<br/>
      Using Angular 6 and Sass (no ui frameworks)
    </div>
  </div>
</div>

