<div class="home-top">
  <div class="home-logo">
    <i class="material-icons">
      dashboard
    </i> 
  </div>
  <div class="home-title">TinyDashboard</div>
  <div class="separate"></div>
  <ng-container 
    [ngTemplateOutlet]="locationTmp">
  </ng-container>
  <div class="user-name">
    <i class="material-icons">
    person
    </i>
    <span>
       Joseph W.
    </span>
  </div>
  <div class="home-logout">
    <button class="btn-logout"> Log out</button>
  </div>
</div>

<div class="home-top second">
  <ng-container 
    [ngTemplateOutlet]="locationTmp">
  </ng-container>
</div>


<ng-template #locationTmp >
  <div class="home-location">
    <i class="material-icons location">
      my_location
    </i>
    <span>Amsterdam</span>
  </div>
</ng-template>

