<div class="container">
  <app-home-box title="Time" icon="av_timer" [updated]="updated">
     <app-dashboard-clock></app-dashboard-clock>
     <div class="period" title="Last refresh" >
       <div  class="period-item">
         <i class="material-icons">
          timer
         </i>
         <span>
          1 hour
         </span>
       </div>
       <div class="lds-hourglass" *ngIf="loading"></div>
    </div>
  </app-home-box> 
  <app-home-box title="Profile" icon="style">
   AdmX
   </app-home-box> 
   <app-home-box title="Tariff" icon="title">
   $100.99
   </app-home-box> 
   <app-home-box title="Last Tariff"  icon="compare_arrows">
   $99.55
   </app-home-box> 
   <app-home-box title="External code" icon="grid_on">
   AA999A09A9
   </app-home-box> 
   <app-home-box title="Internal code" icon="flash_on">
  XJSKSK22222
   </app-home-box> 
   <app-home-box title="Fee" icon="euro_symbol">
   $1.90
   </app-home-box> 
   <app-home-box title="Price" icon="trending_down">
   $2.50
   </app-home-box> 
   <app-home-box title="Tax" icon="trending_up">
   $0.025
   </app-home-box> 
   <app-home-box title="Threshold"  icon="vertical_align_top">
   $0.043
  </app-home-box> 
</div>
